<nav>
  <p>Logo</p>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Buscar casas y tickets</mat-label>
      <input matInput placeholder="Ex. 1133" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <div class="buttons">
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="account"></div>
</nav>
