<div class="main-content">
  <h1>Velocidad</h1>
  <p>
    En la siguiente gráfica se representa, a lo largo del tiempo, las mediciones
    de velocidad en tus golpes
  </p>
  <div>
    <div class="outer">
      <canvas
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      ></canvas>
    </div>

    <table>
      <tr>
        <th *ngFor="let label of lineChartData.labels">{{ label }}</th>
      </tr>
      <tr
        *ngFor="let d of lineChartData.datasets; let i = index"
        [class]="'line-' + i"
      >
        <td *ngFor="let label of lineChartData.labels; let j = index">
          {{ d && d.data[j] }}
        </td>
      </tr>
    </table>
  </div>
</div>
