.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
.container-collapsed {
  width: calc(100vw - 16.2rem);
  padding: 1rem;
  margin: {
    top: 6rem;
    left: 16.2rem;
    bottom: 1rem;
    right: auto;
  }
  overflow: hidden;
}
.container-full {
  width: calc(100vw - 7rem);
  margin: {
    top: 6rem;
    left: 7rem;
    bottom: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .container-full {
    width: 80%;
    margin: 6rem auto;
    padding: 0rem;
  }
}
