<div class="main-content">
  <h1>Dashboard</h1>
  <div class="grid">
    <div class="card">
      <div class="card-head">
        <h3>Hola</h3>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          minus aliquid est iusto vel temporibus magnam, odio nisi iste ab
          doloremque quis hic reiciendis architecto, voluptatem asperiores porro
          ea suscipit?
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <h3>Hola</h3>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          minus aliquid est iusto vel temporibus magnam, odio nisi iste ab
          doloremque quis hic reiciendis architecto, voluptatem asperiores porro
          ea suscipit?
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <h3>Hola</h3>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          minus aliquid est iusto vel temporibus magnam, odio nisi iste ab
          doloremque quis hic reiciendis architecto, voluptatem asperiores porro
          ea suscipit?
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <h3>Hola</h3>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          minus aliquid est iusto vel temporibus magnam, odio nisi iste ab
          doloremque quis hic reiciendis architecto, voluptatem asperiores porro
          ea suscipit?
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <h3>Hola</h3>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          minus aliquid est iusto vel temporibus magnam, odio nisi iste ab
          doloremque quis hic reiciendis architecto, voluptatem asperiores porro
          ea suscipit?
        </p>
      </div>
    </div>
  </div>

  <ul>
    <li *ngFor="let user of this.users | async">
      {{ user.name }}
    </li>
  </ul>
</div>
