<div class="main-content">
  <h1>Dashboard</h1>
  <p>Aquí tienes un registro de tus entrenamientos y estadísticas</p>
  <div class="grid">
    <div class="card">
      <div class="card-head">
        <h3>Entrenamientos</h3>
      </div>
      <div class="card-body">
        <span>3</span>
        <p>Total de entrenamientos registrados hasta hoy</p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <h3>Fuerza</h3>
      </div>
      <div class="card-body">
        <span>5.3kg</span>
        <p>Fuerza promedio del golpe</p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <h3>Velocidad</h3>
      </div>
      <div class="card-body">
        <span>7.9km/h</span>
        <p>Velocidad promedio del golpe</p>
      </div>
    </div>
  </div>
</div>
